<div class="row topics-show">
    
  <div class="col-xs-12">
    <p class="page-path">
      <%= link_to "Topics", topics_path %> 
      > <%= @topic.name %> 
    </p> 
  </div>

  <div class="col-xs-12 topic-info">

    <div class="col col-xs-12 vertical-bottom"> 
      <h1 class="col col-xs-8 topic-title"><%= @topic.name %></h1>

      <div class="col col-xs-4 new-post-button">
        <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-success pull-right' %>
      </div>
    </div>
    
    <!-- <p class="lead"><%= @topic.description %></p> -->
    <%= simple_format(@topic.description, class: 'lead') %>

    <% if user_is_authorized_for_topics? %>
      <div class="user-edit-controls">
        <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
        <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>
      </div>
    <% end %>
  </div>  
  
  <div class="topic-main">
    <div class="col-xs-12 col-md-8">
      <%= render @topic.posts %>
    </div>

  </div>

</div>