<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br/>
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <% if no_posts? %>
      <h2><%= @user.name %>'s posts <br>
        <small><%= @user.name %> has not submitted any posts yet.</small>
      </h2>
    <% else %>
      <h2><%= @user.name %>'s posts</h2>
      <% @user.posts.each do |post| %>
        <div class="col-xs-12 col-md-8 posts">
          <%= render partial: 'posts/post_info', locals: { post: post } %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-xs-12">
    <% if @user.comments.empty? %>
      <h2><%= @user.name %>'s comments <br>
        <small><%= @user.name %> has not made any comments yet.</small>
      </h2>
    <% else %>
      <h2><%= @user.name %>'s comments </h2>
      <% @user.comments.each do |comment| %>
        <div class="col-xs-12 col-md-8">
          <h4 class="media-heading"><strong>
            <%= link_to comment.post.title, topic_post_path(comment.post), class: "post-title"%>
          </strong></h4>
          <%= render partial: 'comments/comment', locals: { comment: comment } %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-xs-12">
    <% if @user.favorites.empty? %>
      <h2><%= @user.name %>'s likes <br>
        <small><%= @user.name %> has not favorited any posts yet.</small>
      </h2>
    <% else %>
      <h2>Posts <%= @user.name %> likes</h2>
      <% @user.favorites.each do |favorite| %>
        <div class="col-xs-12 col-md-8">
          <%= render partial: 'posts/post_info', locals: { post: favorite.post } %>
        </div>
      <% end %>
    <% end %>
  </div>
  
</div>
