  <div class="col-xs-2 vertical-center">

    <div class="col-xs-6 total-points">
      <h2><strong class="pull-right"><%= post.points %></strong></h2>
    </div>

    <div class="col-xs-6 voting-arrows">
      <div><%= link_to " ", post_up_vote_path(post), class: " glyphicon glyphicon-chevron-up", method: :post %></div>
      <div class="points-up"><strong><%= post.up_votes %></strong></div>
      <div class="points-down"><strong><%= post.down_votes %></strong></div>
      <div><%= link_to " ", post_down_vote_path(post), class: 'glyphicon glyphicon-chevron-down', method: :post %></div>
    </div>
  </div>
